
/*
    Preview Dom Element style
*/
.j_preview_container{
    width:100%;
    height:auto;
    display:inline-block;
}

/*
    Preview Dom Element items style
*/
.j_preview_container_item{
    width:100%;
    height:auto;
    float:left;
    padding:5px;
    border:1px solid #ccc;
    margin-top:5px;
}

/*
    Remove link style
*/
.j_remove_link{
    text-decoration: none;
    font-size:16px;
    color:red;
}

.j_file_exist{
    color:red;
}
